<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<!-- 
		오라클 정보를 모아서 전송 : driver, url, username, password
		DataSource
	-->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@localhost:1521:ORCL"
		p:username="scott"
		p:password="tiger"
		p:maxActive="10"
		p:maxIdle="5"
		p:maxWait="-1"	
	/>		
	
	<!-- 
		Mybatis : 다시 SqlSessionFactory에 정보를 넘긴다.
	 -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="ds"
		p:configLocation="classpath:Config.xml"
	/>
	
	<!-- 
	 	동시에 모아서 처리 : SqlSessionTemplete
	 	생성자에서 ssf를 원한다.
	 	
	 	class SqlSessionTemplate(SqlSessionFactory ssf){
	 	
	 	}
	-->
	<bean id="sst" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="ssf"/>
	</bean>
	
	<!-- 
	 	DAO로(SqlSupport) 전송
	-->
	<bean id="dao" class="com.sist.dao.EmpDAO"
		p:sqlSessionTemplate-ref="sst"
	/>
	<!-- 
		앞으로 new로 dao로 만들면 driver정보 없어서 nullpoint 예외가 난다. 
	 -->
	 
	 <bean id="mc" class="com.sist.xml.MainClass"
	 	p:dao-ref="dao"
	 />
		

	
</beans>
